<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flab.docdoc.hospitalSubInfo.repository.ContactRepository">


    <select id="countByHospitalUniqueId" parameterType="java.lang.Long" resultType="java.lang.Long" >
        SELECT COUNT(*)
            FROM contact
            WHERE hospital_unique_id = #{hospitalUniqueId}
    </select>

    <insert id="saveContacts" parameterType="java.util.List" >
        INSERT INTO contact (
            hospital_unique_id,
            email,
            phone)
        VALUES
        <foreach collection="contacts" item="item"  separator=",">
            (#{item.hospitalUniqueId},
            #{item.email},
            #{item.phone})
        </foreach>
    </insert>

    <delete id="deleteByHospitalUniqueId" parameterType="java.lang.Long">
        DELETE FROM contact
            WHERE hospital_unique_id = #{hospitalUniqueId}
    </delete>
</mapper>