<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flab.docdoc.hospital.repository.HospitalRepository">

    <resultMap id="hospitalResponseMap" type="flab.docdoc.hospital.response.HospitalResponse">
        <result column="business_name" property="businessName" javaType="String"/>
        <result column="tel" property="tel" javaType="String"/>
        <result column="sido_nm" property="sidoNm" javaType="String"/>
        <result column="sggu_nm" property="sgguNm" javaType="String"/>
        <result column="addr" property="addr" javaType="String"/>
        <result column="x_pos" property="xPos" javaType="String"/>
        <result column="y_pos" property="yPos" javaType="String"/>
        <result column="login_id" property="adminLoginId" javaType="String"/>
        <result column="email" property="adminEmail" javaType="String"/>
    </resultMap>

    <insert id="save" parameterType="flab.docdoc.hospital.domain.Hospital" useGeneratedKeys="true" keyProperty="uniqueId" keyColumn="unique_id">
        INSERT INTO hospital
            (unique_id,
            business_name,
            tel,
            sido_nm,
            sggu_nm,
            addr)
        VALUES
            (#{uniqueId},
            #{businessName},
            #{tel},
            #{sidoNm},
            #{sgguNm},
            #{addr})
    </insert>

    <select id="findByUniqueId" parameterType="java.lang.String" resultType="flab.docdoc.hospital.domain.Hospital">
        SELECT
            unique_id,
            business_name,
            tel,
            sido_nm,
            sggu_nm,
            addr,
            x_pos,
            y_pos,
            admin_unique_id
        FROM hospital
        WHERE
            unique_id = #{uniqueId}
    </select>

    <select id="findHospitalResponseByUniqueId" parameterType="java.lang.String" resultMap="hospitalResponseMap">
        SELECT
            h.business_name,
            h.sido_nm,
            h.sggu_nm,
            h.addr,
            h.tel,
            h.x_pos,
            h.y_pos,
            m.login_id,
            m.email
        FROM hospital h LEFT JOIN member m
            ON h.admin_unique_id = m.unique_id
        WHERE
            h.unique_id = #{uniqueId}
    </select>


    <update id="update" parameterType="flab.docdoc.hospital.domain.Hospital">
        UPDATE hospital
            SET
            business_name = #{businessName},
            tel = #{tel},
            sido_nm = #{sidoNm},
            sggu_nm = #{sgguNm},
            addr = #{addr}
        WHERE
            unique_id = #{uniqueId}
    </update>

    <update id="updateAdmin">
        UPDATE hospital
        SET
            admin_unique_id = #{memberUniqueId}
        WHERE
            unique_id = #{uniqueId}
    </update>

</mapper>