<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="flab.docdoc.hospitalSubInfo.repository.HospitalSubInfoRepository">

    <select id="countContactsByHospitalUniqueId" parameterType="java.lang.Long" resultType="java.lang.Long" >
        SELECT COUNT(*)
        FROM contact
        WHERE hospital_unique_id = #{hospitalUniqueId}
    </select>

    <select id="countSubjectsByHospitalUniqueId" parameterType="java.lang.Long" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM subject
        WHERE hospital_unique_id = #{hospitalUniqueId}
    </select>

    <insert id="saveContacts" parameterType="java.util.List" >
            INSERT INTO contact (
                hospital_unique_id,
                email,
                phone)
            VALUES
        <foreach collection="contacts" item="contact"  separator=",">
                (#{contact.hospitalUniqueId},
                #{contact.email},
                #{contact.phone})
        </foreach>
    </insert>

    <insert id="saveSubjects">
        <foreach collection="list" index="index" item="subject" open="INSERT ALL" close="" separator=" ">
            INTO subject (
                hospital_unique_id,
                subject )
            VALUES (
                #{subject.hospitalUniqueId},
                #{subject.subject} )
        </foreach>
    </insert>






</mapper>